*{
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: sans-serif;
    font-family: 'Raleway', sans-serif;
}

body{
    display: flex;
    flex-direction: row;
}
.leftContainer{
    height: 100vh;
    flex: 0 0 40%;
    position: relative;
}
.leftContainer img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.imageBanner{
    position: absolute;
    width: 100%;
    left: 0px; 
    top: 25%;
    background-color: rgba(57, 83, 99, 0.35);
    font-size: 5vw;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    color: white;
    font-weight:300;
}